%li
	=link_to '<i class="fa fa-dashboard fa-fw"></i> Dashboard'.html_safe, root_path

%li
	=link_to '<i class="fa fa-tint fa-fw"></i> Water Pumps'.html_safe, provider_pumps_path

%li
	=link_to '<i class="fa fa-home fa-fw"></i> Kiosks'.html_safe, provider_kiosks_path
