%li
	=link_to '<i class="fa fa-dashboard fa-fw"></i> Dashboard'.html_safe, root_path

%li
	=link_to '<i class="fa fa-tint fa-fw"></i> Water Pumps'.html_safe, pumps_path

%li
	=link_to '<i class="fa fa-home fa-fw"></i> Water Kiosks'.html_safe, kiosks_path

%li
	=link_to '<i class="fa fa-user fa-fw"></i> Manage Employees'.html_safe, employees_path
