.row
.col-lg-12
	%h1.page-header Employees
	= link_to '<button class="btn btn-primary btn-md pull-right btn-add" type="button"><i class="fa fa-plus fa-fw"></i>Add Employee</button>'.html_safe, new_employee_path
.col-lg-12
	= render 'list'

