.row
.col-lg-12
	%h1.page-header Provider Employees
	= link_to '<button class="btn btn-primary btn-md pull-right btn-add" type="button"><i class="fa fa-plus fa-fw"></i>Add Employee</button>'.html_safe, new_admin_employee_path
%hr
= render 'list'
.row

