.row
	.col-lg-12
		%h1.pull-left Kiosks
		= link_to '<button class="btn btn-primary btn-lg pull-right mt20" type="button"><i class="fa fa-plus fa-fw"></i>Add kiosk</button>'.html_safe, new_admin_path
	/ /.col-lg-12
%hr
#map
/ /.row
.row
	.col-lg-12
		.table-responsive
			%table#dataTables-example.table.table-striped.table-bordered.table-hover
				%thead
					%tr
						%th Name
						%th City
						%th State
						%th Description
				%tbody
					%tr.odd.gradeX
						%td No More Thirst
						%td Nakuru
						%td.center
						%td.center Anything here
					%tr.even.gradeC
						%td
							%a{:href => "kiosks/waterpoints.html"}
								Fresh & Clear
						%td Nairobi
						%td.center
						%td.center Anything here
		/ /.table-responsive
	/ /.col-lg-12
/ Page-Level Demo Scripts - Tables - Use for reference
:javascript
	$(document).ready(function() {
			$('#dataTables-example').dataTable();
	});

</body>

</html>
