.row
	.col-lg-12
		%h1.pull-left Providers
		= link_to '<button class="btn btn-primary btn-lg pull-right mt20" type="button"><i class="fa fa-plus fa-fw"></i>New provider</button>'.html_safe, new_admin_provider_path
%hr

#map
= render 'list'

