.row
.col-lg-12
	%h1.page-header Providers
	= link_to '<button class="btn btn-primary btn-md pull-right btn-add" type="button"><i class="fa fa-plus fa-fw"></i>New provider</button>'.html_safe, new_admin_provider_path
%hr
.col-lg-12
	.panel.panel-default
		.panel-heading
			%i.fa.fa-map-marker.fa-fw
			Providers
			.pull-right
				.minimize.map-button
					%i.fa.fa-minus.fa-fw
		.panel-body#map
.col-lg-12
	= render 'list'

