.row
	.col-lg-12
		%h1.page-header Malibu Inc.
		%h3 General information
.row
	.col-lg-6
		%table
			%tr
				%th Name
				%td Fresh & Clear
			%tr
				%th Phone
				%td (432) 735-1423
			%tr
				%th Email
				%td freshandclear@gmail.com
	.col-lg-6
		%table
			%tr
				%th Name
				%td Fresh & Clear
			%tr
				%th Phone
				%td (432) 735-1423
			%tr
				%th Email
				%td freshandclear@gmail.com

%h3 Profit by month
=image_tag "chart.png", :style => "width: 100%; margin-bottom: 50px;"

%h3 Total water served
=image_tag "chart.png", :style => "width: 100%; margin-bottom: 50px;"

%h3.pull-left Water points
= link_to '<button class="btn btn-primary btn-xs pull-right mt20" type="button"><i class="fa fa-plus fa-fw"></i>New WPS</button>'.html_safe, new_wsp_path
.row
	.col-lg-12
		.table-responsive
			%table.table.table-striped.table-bordered.table-hover.mt20
				%thead
					%tr
						%th Name
						%th City
						%th State
						%th Description
				%tbody
					%tr.odd.gradeX
						%td Green Valley Inc.
						%td Nakuru
						%td.center
						%td.center Anything here
					%tr.even.gradeC
						%td 
							%a{:href => "wsps/show.html"}
								Malibu Inc.
						%td Nairobi
						%td.center
						%td.center Anything here
		/ /.table-responsive
	/ /.col-lg-12

%h3.pull-left Users
= link_to '<button class="btn btn-primary btn-xs pull-right mt20" type="button"><i class="fa fa-plus fa-fw"></i>New user</button>'.html_safe
.row
	.col-lg-12
		.table-responsive
			%table.table.table-striped.table-bordered.table-hover.mt20
				%thead
					%tr
						%th Name
						%th City
						%th State
						%th Description
				%tbody
					%tr.odd.gradeX
						%td Green Valley Inc.
						%td Nakuru
						%td.center
						%td.center Anything here
					%tr.even.gradeC
						%td 
							%a{:href => "wsps/show.html"}
								Malibu Inc.
						%td Nairobi
						%td.center
						%td.center Anything here
		/ /.table-responsive
	/ /.col-lg-12