%li
  %a{:href => "#"}
    %div
      %i.fa.fa-building-o.fa-fw
      WSP
%li.divider
%li
  %a{:href => "#"}
    %div
      %i.fa.fa-user.fa-fw
      WSP user
%li.divider
%li
  %a{:href => "#"}
    %div
      %i.fa.fa-tint.fa-fw
      Water point
%li.divider
%li
  %a{:href => "#"}
    %div
      %i.fa.fa-home.fa-fw
      Kiosk