.row
  .col-lg-12
    %h1.pull-left Admin Profiles
    = link_to '<button class="btn btn-primary btn-lg pull-right mt20" type="button"><i class="fa fa-plus fa-fw"></i>Add Admin</button>'.html_safe, new_admin_admin_path

= render 'list'

