.row
.col-lg-12
	%h1.page-header Admin Profiles
	= link_to '<button class="btn btn-primary btn-md pull-right btn-add" type="button"><i class="fa fa-plus fa-fw"></i>Add Admin</button>'.html_safe, new_admin_admin_path
%hr
.col-lg-12.mt20
	= render 'list'

