@import "bootstrap";
@import "morris-0.4.3.min";
@import "timeline";
@import "sb-admin";
@import "map/map";

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.mt20 {
  margin-top: 20px;
}

#page-wrapper {
  padding-bottom: 80px;
}
