@import "bootstrap";
@import "morris-0.4.3.min";
@import "timeline";
@import "sb-admin";
@import "leaflet";
@import "leaflet.awesome-markers";
@import "map";
@import "font-awesome.min";

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.mt20 {
  margin-top: 20px;
}

#page-wrapper {
  padding-bottom: 80px;
}

.text-center {
	text-align: center;
}

.gen-info th, .gen-info td {
	padding: 3px 3px 3px 0;
}

.gen-info {
	margin-bottom: 20px;
}

.row {
	padding-top: 20px;
}

h3 {
	margin-bottom: 20px;
}

.minimize {
	font-size: 15px;
}

#map {
	display: none;
}

.btn-add {
	margin-top: -80px;
}

.active {
	background-color: #eeeeee;
}

.dataTables_filter label {
	float: right;
	margin-left: 10px;
}

.dataTables_filter input {
	margin-left: 10px;
}

.dataTables_paginate {
	margin-top: -35px;
	float: right;
}

.dataTables_info {
	margin-top: -15;
}
