@import "bootstrap";
@import "morris-0.4.3.min";
@import "timeline";
@import "sb-admin";

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.mt20 {
  margin-top: 20px;
}

#page-wrapper {
  padding-bottom: 80px;
}

.text-center {
	text-align: center;
}

.gen-info th, .gen-info td {
	padding: 3px 3px 3px 0;
}

.row {
	padding-top: 20px;
}

h3 {
	margin-bottom: 20px;
}
