.row
  .col-lg-12
    %h1.pull-left Kiosks
.panel.panel-default
    .panel-heading
      %button.btn.btn-default.btn-lg.map-button Hide Map
      #map
%h3= "Total credits sold: #{@total_credits_sold}"

= render 'list'
